<div style="background-color: rgb(193, 217, 219);" class="p-5">
    <h3 class="text-center pb-5">FAQ - Frequently Asked Questions</h3>
    <div>
        <h6>1. Where can I find newspapers/magazines?</h6>
        <p>ans : It is availabale in the R005 of libraray.</p>
    </div>
    <div>
        <h6>2. Where can I find government documents?</h6>
        <p>ans : Sorry.We have no such documents available.</p>
    </div>
    <div>
        <h6>3. I couldn't find the book I want?</h6>
        <p>ans : The item you have selected is already taken by someone else or there is some technical or internet connectivity issue.</p>
    </div>
    <div>
        <h6>4. How many books can be taken at a time?</h6>
        <p>ans : Only one.After returning it you can take another one.</p>
    </div>
    <div>
        <h6>5. Is soft copy of listed books are available?</h6>
        <p>ans : No. Only hard copies.</p>
    </div>
    <div>
        <h6>6. Is any charges for taking books?</h6>
        <p>ans : No.Only registration fee.</p>
    </div>
</div>
