<!-- header -->
<header>
    <nav class="navbar navbar-expand-lg bg-primary" style="height:55px;">
        <div class="container-fluid d-flex ">
            <div class=" flex-grow-1 w-75">
                <img class="mb-2" width="40px" height="40px" src="https://media.istockphoto.com/id/1270155083/vector/blue-e-book-logo-design-vector-sign-of-electronic-book-library-icon-symbol.jpg?s=612x612&w=0&k=20&c=DGwVHcCijit8E62o3S2dqFXM2usLP2AmJoOSnDhsI5M=" alt="">
                <a routerLink="" class="navbar-brand ms-2 text-light fst-italic"
                    style="font-size:27px;font-weight:600;">Public Library</a>
            </div>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <form class="" role="search">
                    <ul class="navbar-nav  mb-2 mb-lg-0">
                        <li class="nav-item p-2">
                            <a routerLink="library/faq" class="btn text-light fst-italic"
                                style="font-size: 18px;font-weight: 500;">FAQ</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
</header>

