<div class="d-flex justify-content-around home">
        <div class="pt-5">
            <div class="user d-flex justify-content-between m-5 p-2 bg-light">
                <img class="user_librarian" width="150px" height="150px" src="https://static.vecteezy.com/system/resources/previews/009/749/643/non_2x/woman-profile-mascot-illustration-female-avatar-character-icon-cartoon-girl-head-face-business-user-logo-free-vector.jpg" alt="img">
                <a routerLink="/library/librarian"><button class="btn btn-danger text-light m-5">Librarian</button></a>
            </div>
            <div class="user d-flex justify-content-between m-5 p-2 bg-light">
                <img class="user_reader" width="140px" height="140px" src="https://img.freepik.com/premium-vector/reading-instructions-silhouette-man-with-open-book_153097-4307.jpg" alt="img">
                <a routerLink="/library/readers"><button class="btn btn-success text-light m-5">Readers</button>
                </a>          
            </div>
        </div>
</div>